<a href="https://colab.research.google.com/github/krisdsutton/Practice-Repo/blob/main/Data201_Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing libraries and dataset.

In [25]:
#import pandas
import pandas as pd
#import numpy
import numpy as np
#import matplotlib
import matplotlib as mpl 
#import pyplot
import matplotlib.pyplot as plt
#import seaborn
import seaborn as sns
#import dataset
obesity = pd.read_csv('/content/sample_data/ObesityDataSet_raw_and_data_sinthetic.csv')

In [9]:
obesity.head()

   Gender   Age  Height  ...        CALC                 MTRANS           NObeyesdad
0  Female  21.0    1.62  ...          no  Public_Transportation        Normal_Weight
1  Female  21.0    1.52  ...   Sometimes  Public_Transportation        Normal_Weight
2    Male  23.0    1.80  ...  Frequently  Public_Transportation        Normal_Weight
3    Male  27.0    1.80  ...  Frequently                Walking   Overweight_Level_I
4    Male  22.0    1.78  ...   Sometimes  Public_Transportation  Overweight_Level_II

[5 rows x 17 columns]

In [4]:
obesity.isnull()

      Gender    Age  Height  Weight  ...    TUE   CALC  MTRANS  NObeyesdad
0      False  False   False   False  ...  False  False   False       False
1      False  False   False   False  ...  False  False   False       False
2      False  False   False   False  ...  False  False   False       False
3      False  False   False   False  ...  False  False   False       False
4      False  False   False   False  ...  False  False   False       False
...      ...    ...     ...     ...  ...    ...    ...     ...         ...
2106   False  False   False   False  ...  False  False   False       False
2107   False  False   False   False  ...  False  False   False       False
2108   False  False   False   False  ...  False  False   False       False
2109   False  False   False   False  ...  False  False   False       False
2110   False  False   False   False  ...  False  False   False       False

[2111 rows x 17 columns]

In [5]:
#checking for "n/a" in dataset
obesity.isna().sum()

Gender                            0
Age                               0
Height                            0
Weight                            0
family_history_with_overweight    0
FAVC                              0
FCVC                              0
NCP                               0
CAEC                              0
SMOKE                             0
CH2O                              0
SCC                               0
FAF                               0
TUE                               0
CALC                              0
MTRANS                            0
NObeyesdad                        0
dtype: int64

In [6]:
#checking for blank spaces in dataset
(obesity.values == '').sum()

0

In [27]:
corrM = obesity.corr()
corrM

             Age    Height    Weight  ...      CH2O       FAF       TUE
Age     1.000000 -0.025958  0.202560  ... -0.045304 -0.144938 -0.296931
Height -0.025958  1.000000  0.463136  ...  0.213376  0.294709  0.051912
Weight  0.202560  0.463136  1.000000  ...  0.200575 -0.051436 -0.071561
FCVC    0.016291 -0.038121  0.216125  ...  0.068461  0.019939 -0.101135
NCP    -0.043944  0.243672  0.107469  ...  0.057088  0.129504  0.036326
CH2O   -0.045304  0.213376  0.200575  ...  1.000000  0.167236  0.011965
FAF    -0.144938  0.294709 -0.051436  ...  0.167236  1.000000  0.058562
TUE    -0.296931  0.051912 -0.071561  ...  0.011965  0.058562  1.000000

[8 rows x 8 columns]

In [32]:
f, ax = plt.subplots(figsize =(9, 8))
sns.heatmap(corrM, ax = ax, cmap ="YlGnBu", linewidths = 0.1)
plt.show()